body{
    background-color: black;
  }
#accessibility{
    margin-left: 95%;
    position: absolute;
}
li {
    display: inline;
    color: white;
  }
p {
    color:white;
  }
ul > li img {
    width: 35px;
    height: 52.25px;
}
.container > img {
    margin: 30px;
    height: 450px;
}
.container > div {
    margin: 30px;
}
.imgtext {
    position: relative;
    text-align: center;
    color: white;
}
.imgtext > img{
    margin-top: 30px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centeredbelow {
    position: absolute;
    top: 58%;
    left: 55%;
}
.container {
    display: flex;
    justify-content: space-evenly;
}
ul {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    margin: 5px;
    align-items: baseline;
}
.container {
    padding-top: 75px;
    padding-bottom: 75px;
}


.footercontainer{
    margin-left: 5%;
    margin-right: 5%;
}
hr {
    width: 90%;
}
#letsconnect {
    
    font-size: 24px;
    margin: 1px;
}
#copyright {
    font-size: 10px;
    margin: 1px;
}
#number{
    display: inline-block;
    height: 5px;
    margin-right: 10px;
}
#location{
    display: inline-block;
    height: 5px;
    margin-left: 10px;
}
.number > img{
    margin-right: 5px;
    padding-right: 10px;
}
.location > img{
    margin-right: 5px;
    padding-right: 5px;
}
.number, .location{
    text-align: center;
    margin: 5px;
}
.socialmedia {
    display: flex;
    margin: 6px;
}
.sm {
    display: inline-block;
    padding: 15px;
    margin: 10px;
}
.flexbox1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.flexbox2 {
    display: flex;
    flex-direction: column;
    width: 70%;  
    align-items: center;
}


li:hover{
    color: #EB34EE;
    cursor:pointer;
} 
#logo:hover{
    transform: scale(1.2);
    cursor:pointer;
}


.containerabout{
    padding-top: 125px;
    padding-bottom: 100px; 
}
.mainelementsAbout{
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    padding-bottom: 25px; 
}
#titleAbout{
    color:white;
    font-size: 30px;
    margin-left: 10%;
}
.centeredAbout{
    color: white;
}
.centeredbelowAbout{
    color: white;
}
.imgtextAbout{
    position: relative;
    text-align: center;
    color: white;
}
.imgtextAbout > img{
    padding-top: 150px;
}
.mainelementsAbout > img{
   margin: 30px;
}
.mainelementsAbout > div{
    margin: 30px;
}
.centeredAbout{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centeredbelowAbout{
    position: absolute;
    top: 56%;
    left: 55%;
}


.containerSkills{
    padding-top: 125px;
    padding-bottom: 100px; 
}
.mainelementsSkills{
    display: flex;
    justify-content: space-evenly;
    padding-top: 25px;
    padding-bottom: 25px; 
}
#titleSkills{
    color:white;
    font-size: 30px;
    margin-left: 10%;
}
.centeredSkills{
    text-align: center;
    color: white;
}
.centeredbelowSkills{
    color: white;
}
.imgtextSkills{
    Display: inline-block;
    justify-content: center;
    position: relative;
    color: white;
}
.imgtextSkills > img{
    padding-top: 150px;
}
.mainelementsSkills > img{
    margin: 30px;
}
.mainelementsSkills > div{
    margin: 30px;
}
.centeredSkills{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centeredbelowSkills{
    position: absolute;
    top: 58%;
    left: 45%;
}


#titleResume{
    color:white;
    margin-left: 10%;
}
.containerResume{
    padding-top: 125px;
    padding-bottom: 100px; 
}
.mainelementsResume{
    display: flex;
    justify-content: space-evenly;
    padding-top: 25px;
    padding-bottom: 25px; 
}
#titleResume{
    color:white;
    font-size: 30px;
    margin-left: 10%;
}
.centeredResume{
    color: white;
}
.centeredbelowResume{
    color: white;
}
.imgtextResume{
    Display: inline-block;
    justify-content: center;
    position: relative;
    color: white;
}
.imgtextResume > img{
    padding-top: 600px;
}
.mainelementsResume > img{
    margin: 30px;
}
.mainelementsResume > div{
    margin: 30px;
}
.centeredResume{
    text-align: center;
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centeredbelowResume{
    position: absolute;
    top: 54%;
    left: 55%;
}


#titleWork{
    color:white;
    font-size: 30px;
    margin-left: 10%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.containerWork{
    padding: 10px;
    margin: 10px;
}
.mainelementsWork{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.audition{
    padding: 5px;
    margin: 5px;
}
.treasury{
    padding: 5px;
    margin: 5px;
}
#auditionwireframe{
    position: relative;
    left: 65%;
}
#auditiondescription{
    margin-left: 280px;
    margin-bottom: 120px;
}
#treasurywireframe{
    position: relative;
    left: 10%;
}
#treasurydescription{
    margin-left: -50px;
    margin-bottom: 120px;
}
.btn{
    width: 150px;
    height: 25px;
    background-color: #EB34EE;
    color: white;
    border-radius: 50cm;
}
.treasury > .btn{
    margin-left: -550px;
}
.audition > .btn{
    margin-left: -400px;
}



@media screen and (max-width: 650px) {
    #titleAbout {
        font-size: 30px;
    }
}